Flask==1.0.2
Flask-Cors==3.0.7
gunicorn==19.9.0
Jinja2==2.10.1
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
music21==5.5.0
numpy==1.16.2
numpydoc==0.8.0
tensorboard==1.13.1
tensorflow==2.9.3
tensorflow-estimator==1.13.0
tensorflow-hub==0.4.0
redis==3.2.1
rq==1.0
python-decouple==3.1
