<!DOCTYPE html>
<html>
    <head>
        <title>Music Interpolator</title>

            <style>
                * {
                    font-size:30px;
                }
            </style>
    </head>
    <body>
        <form action="/generator/" method ="post">
            <input id="note-input" type="text" name = "note" value = "note"/>
            <button id="note-button">Submit Note</button>
            <select id = "Artists" name="Artists" >
                <option value = "Bach">Bach</option>
                <option value = "Chopin">Chopin</option>
                <option value = "Mozart">Mozart</option>
            </select>

            <div class = "container">
                <div class="Bach">
                    <select class="second-level-select" id = "style" name = "style" >
                        <option value = "TODO1">TODO1</option>
                        <option value = "TODO2">TODO2</option>
                        <option value = "TODO3">TODO3</option>
                    </select>
                </div>
                <div class = "Chopin">
                    <select class="second-level-select" id = "style" name = "style"> 
                        <option value = "and">and</option>
                        <option value = "bal">bal</option>
                        <option value = "bar">bar</option>
                        <option value = "ber">ber</option>
                        <option value = "bol">bol</option>
                        <option value = "conc">conc</option>
                        <option value = "eco">eco</option>
                        <option value = "etu">etu</option>
                        <option value = "fan">fan</option>
                        <option value = "fun">fun</option>
                        <option value = "imp">imp</option>
                        <option value = "maz">maz</option>
                        <option value = "noc">noc</option>
                        <option value = "nou">nou</option>
                        <option value = "pol">pol</option>
                        <option value = "pre">pre</option>
                        <option value = "ron">ron</option>
                        <option value = "sch">sch</option>
                        <option value = "son">son</option>
                        <option value = "tar">tar</option>
                        <option value = "val">val</option>
                    </select>
                </div>
                <div class = "Mozart">
                        <select class="second-level-select" id = "style" name="style" value = "style">
                            <option value = "TODO1">TODO1</option>
                            <option value = "TODO2">TODO2</option>
                        </select>
                </div>
            </div>

            
        </form>
        <p id="greeting"></p>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
             $("#note-button").click(function(event){
                let message = {
                    note: $("#note-input").val(),
                }
                $.post("/", JSON.stringify(message), function(response){
                    $("#greeting").text(response.greeting);
                    console.log(response)
                })
            })

            $(document).ready(function() {
            $("#Artists").bind("change", function() {
                var elements = $("div.container").children().hide(); // hide all the elements
                var value = $(this).val();

                if (value.length) { // if somethings" selected
                    elements.filter("." + value).show(); // show the ones we want
                }
            }).trigger("change");
            
            $(".second-level-select").bind("change", function() {
                var elements = $("div.second-level-container").children().hide(); // hide all the elements
                var value = $(this).val();

                if (value.length) { // if somethings" selected
                    elements.filter("." + value).show(); // show the ones we want
                }
            }).trigger("change");
        });
        </script>
    </body>
</html>